@import "antd/dist/antd.css";

body {
  background-color: aliceblue;
}

/* stylelint-disable-next-line selector-class-pattern */
.content-layout {
  width: 1080px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;

  /* position: absolute;
  left: 3%;
  right: 0;
  top: 60px;
  bottom: 100px;
  overflow-y: scroll; */
}
